.tic-tac-toe{
    width: 300px;
    height: 300px;
    border:2px solid #000;
    margin:50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ttt-grid{
        cursor: pointer;
        width: calc(100% / 3) ;
        height: calc(100% / 3);
        border:1px solid #000;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        &.green{
            color:green;
            border-color: green;
        }
        &.red{
            color:red;
            border-color: red;
        }
    }
}